<%= javascript_include_tag 'dropzone' %>
<%= javascript_include_tag 'jquery.justifiedGallery.min' %>
<%= javascript_include_tag 'jquery.colorbox' %>
<%= javascript_include_tag 'gallery.js' %>

<%= stylesheet_link_tag 'dropzone' %>
<%= stylesheet_link_tag 'justifiedGallery.min' %>
<%= stylesheet_link_tag 'colorbox' %>

<h1>Listing images</h1>
<%= render 'dz' %>
<br>
<div id='gallery'>
  <%= render 'gallery' %>
</div>
